*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'VT323' !important;
  color: #fff !important;
}

h1{
  font-size: 100px !important;
}

.hero-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(resources/Kdxm.gif);
  background-size: cover;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}